{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

        <div class="bg bg-call bg-call-comofazemos">
            <section class="container">
                <div class="row">
                    <div class="grid-two-thirds">
                        <h2 class="">Como fazemos</h2>

                        <p>Utilizamos tecnologias modernas e metodologias ágeis de gestão de projetos como um meio para criar aplicações eficientes e atingir os objetivos de negócio do cliente.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg">
            <section class="container">
                <div class="row">
                    <div class="grid-third text-center">
                        <img class="" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaoduvida.svg">
                        <h3>Qual o seu problema?</h3>
                        <p>O que você quer? Ou melhor: o que você precisa? Primeiro entendemos o problema do nosso cliente.</p>
                    </div>

                    <div class="grid-third text-center">
                        <img class="" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaochecklist.svg">
                        <h3>Levantamos hipóteses.</h3>
                        <p>Então levantamos uma série de informações e criamos uma visão de como seria um produto para solucionar o problema definido!</p>
                    </div>
                    <div class="grid-third text-center">
                        <img class="" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaodocumentacao.svg">
                        <h3>Documentamos!</h3>
                        <p>Com estas informações documentadas nós estamos prontos para desenvolver a primeira versão da aplicação.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-6 text-center">
                        <hr>
                        <h2>A execução.</h2>
                        <p>Nós somos um <strong>time enxuto e alocado que trabalha de forma ágil</strong>. Nosso processo é baseado no SCRUM, o que basicamente significa que nós vamos entregar o projeto em pequenas doses até que ele esteja completo, sem surpresas para o cliente ao final do processo. <a href="contato.html">Quer saber mais sobre este processo? Entre em contato conosco</a>!</p>
                        <img class="" src="{{ MEDIA_URL }}img/ilustracoes/processodev.png">
                    </div>
                </div>
            </section>
        </div>

{% endblock conteudo %}