{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

    <div class="cabecalho introducao" style="background:url('{{MEDIA_URL}}img/bg_intro_comofazemos.png'); background-size:cover;">
        <div class="centratexto">
        	<p>Utilizamos tecnologias e metodologias como um meio para criar<br> aplicações <em>eficientes</em> e atingir os objetivos de <em>negócio</em></p>
        </div>
    </div>
	<div class="conteudoprincipal">
        <ul id="comotecnologias">
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
        </ul>
		<div class="div960">
        <p class="textocomofazemos">
			Na Shift it buscamos constuir aplicações realmente incriveis, que superem as expectativas de nossos clientes e satisfaçam as necessidades de negócio. 
			Para isso procuramos soluções inovadoras e criativas e prezamos pela simplicidade. 
			Somos defensores da ideia de que em software menos é mais e que para uma solução ser completa ela não precisa necessariamente ser complexa. 
			Buscamos incansavelmente a qualidade, agilidade e transparência em tudo o que fazemos. 
			Utilizamos tecnologias modernas, aderentes com as necessidades de mercado e com o grau de inovação que o mercado de tecnologia necessita. 
			Desenvolvemos nossas aplicações utilizando a linguagem Python e o framework Django, uma combinação poderosa e perfeitamente adaptada à web. 
			Nossos dados são armezenados em um banco de dados PostgreSQL, o que nos oferece a robustez e eficiência necessária para acompanhar a agilidade das nossas aplicações. 
			Nossas interfaces são construídas utilizando HTML5, CSS3 e jQuery o que nos possibilita fazer interfaces surpeendentes. 
		</p>

		<p align="center">
			<strong>Processo de Desenvolvimento</strong>	
		</p>
        <figure><img src="{{MEDIA_URL}}img/processodev.png" id="processodev"></figure>
        
        <p class="textocomofazemos">
        	Independente das tecnologias que utilizamos temos um processo produtivo que tem como objetivo a agilidade e a colaboração. 
        	Nós acreditamos que toda a ideia de um produto inovador precisa ser constantemente lapidada e discutida, por isso procuramos meios de estarmos sempre próximos do cliente durante a construção da aplicação, discutindo e aprimorando o projeto. 
        	Fazemos uso de metodologias ágeis, baseadas em metodologias existentes como Scrum, Kanban e XP. 
        	Todo o processo de desenvolvimento é divido em interações bem definidadas, chamadas de Sprints. 
        	No intervalo entre essas intereções sempre fazemos reuniões, onde revisamos tudo o que foi feito e confirmamos os próximos passos, baseados no aprendizado da interação anterior. 
        	Nossa intenção é a cada interação entregar o maior valor de negócio, sempre com código funcional e se possível já em ambiente de produção.	
        </p>
       </div>
    </div>

{% endblock conteudo %}