{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

        <div class="bg bg-call bg-call-comofazemos">
            <section class="container">
                <div class="row">
                    <div class="grid-two-thirds">
                        <h2 class="">Você entende do seu negócio, nós entendemos de tecnologia</h2>

                        <p>Utilizamos tecnologias modernas e metodologias ágeis de gestão de projetos como um meio para criar aplicações eficientes e atingir os seus objetivos de negócio.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg">
            <section class="container">
                <div class="row">
                    <div class="grid-third text-center">
                        <img class="ilustrasprint0" alt="Ilustração ponto de interrogação" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaoduvida.svg">
                        <h3>Qual o seu problema?</h3>
                        <p>O que você deseja? Ou melhor: o que você precisa? O nosso primeiro passo é entendermos qual é o seu verdadeiro problema.</p>
                    </div>

                    <div class="grid-third text-center">
                        <img class="ilustrasprint0" alt="Ilustração checklist" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaochecklist.svg">
                        <h3>Levantamento de requisitos.</h3>
                        <p>Então levantamos uma série de informações e criamos uma visão de como seria um produto para solucionar o problema definido.</p>
                    </div>
                    <div class="grid-third text-center">
                        <img class="ilustrasprint0" alt="Ilustração documentos" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaodocumentacao.svg">
                        <h3>Documentamos!</h3>
                        <p>Com o seu projeto definido e documentando nós estamos prontos para desenvolver a primeira versão do seu sistema.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-6 text-center">
                        <hr>
                        <h2>A execução.</h2>
                        <p>Nós <strong>somos um time enxuto e dedicado</strong> que trabalha de forma ágil. Nosso processo é baseado no SCRUM, o que basicamente significa que nós vamos entregar o seu projeto em pequenas doses até que ele esteja completo, sem surpresas ao final do projeto. <a href="contato.html">Quer saber mais sobre este processo? Entre em contato conosco</a>!</p>
                        <img class="" src="{{ MEDIA_URL }}img/ilustracoes/processodev.svg">
                    </div>
                </div>
            </section>
        </div>

{% endblock conteudo %}
