{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

		<div class="bg bg-call bg-call-home">
			<section class="container">
				<div class="row">
					<div class="grid-two-thirds">
						<h2 class="text-big">Desenvolvemos softwares que vivem na web</h2>

						<p>Sejam soluções corporativas, sejam novos negócios digitais desenvolvemos sua solução utilizando design, tecnologia e metodologias ágeis de gestão de projetos.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="bg">
			<section class="container">
				<div class="row">
					<div class="grid-third">
						<h3>Projetos realizados</h3>
						<p><a href="/o_que_fazemos/">Conheça são alguns dos projetos que já ajudamos a tirar do papel.</a> Apresentamos nossos principais desafios e como os solucionamos.</p>
					</div>

					<div class="grid-third">
						<h3>Nosso processo</h3>
						<p><a href="/como_fazemos/">Nós investigamos o seu problema e colocamos a mão na massa!</a> Confira como fazemos e entenda melhor que tipo de serviço estamos oferecendo.</p>
					</div>

					<div class="grid-third">
						<h3>Quem somos nós</h3>
						<p><a href="/time/">Uma empresa jovem consciente das novas tecnologias e seu impacto nos negócios</a>. Somos artesãos da web, transformamos códigos em produtos digitais.
					</div>
				</div>
			</section>
		</div>

		<div class="bg bg-ideia">
			<section class="container">
				<div class="row">	
					<div class="grid-2 offset-2">
						<h2 class="text-center">Tem uma idéia?</h2>

						<p class="text-center">Não hesite em <a href="/contato/">entrar em contato</a>!</p>
						<form id="contato" method="post">{% csrf_token %}
                            <fieldset>
                                <label for="contatoNome">Nome<input id="contatoNome" name="nome" type="text"></label>
                                <label for="contatoEmail">Email<input id="contatoEmail" name="email" type="email" required></label>
                                <label for="contatoTel">Telefone<input id="contatoTel" name="telefone" type="text"></label>
                                <label for="contatoMsg">Mensagem<textarea id="contatoMsg" name="mensagem" rows="5"> </textarea></label>
                                <button class="btn btn-verde btn-large btn-block" type="submit">Enviar</button>
                            </fieldset>
                        </form>
					</div>
				</div>
			</section>
		</div>

{% endblock conteudo %}