<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shift it</title>
        <meta name="description" content="A Shift it é uma Startup com a ideia de desenvolver softwares para web, buscando facilitar a vida das pessoas através do uso da internet.">
        <meta name="viewport" content="width=device-width">
        
		<!-- CSS
		================================================== -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
        
        <!-- FAVION
		================================================== -->
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/icones/favicon.ico">
		
    </head>

	<body>
		<!--[if lt IE 7]>
		    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		
		<div class="container">
			<p><img src="{{ MEDIA_URL }}img/shiftit.png" id="logo"></p>
			<p>A Shift it é uma Startup com a ideia de desenvolver softwares para web, buscando facilitar a vida das pessoas através do uso da internet. Para isso procuramos inovar, empreender, criar e por fim satisfazer.</p>
		    <p>Estamos desenvolvendo nosso site. Entre em contato conosco através do email contato@shiftit.com.br ou utilizando o formulário abaixo.</p>
		    <hr>
			<div id="contato">
				{% for message in messages %}
			    	<p><strong>{{ message }}</strong></p>
			    {% endfor %}
			
				<form method="post" class="col span_12">{% csrf_token %}
				<fieldset>
				<p><label for="contatoNome">Nome</label><input id="contatoNome" name="nome" type="text"></p>
				<p><label for="contatoEmail">Email</label><input id="contatoEmail" name="email" type="email" required></p>
				<p><label for="contatoTel">Telefone</label><input id="contatoTel" name="telefone" type="text"></p>
				<p><label for="contatoMsg">Mensagem</label><textarea id="contatoMsg" name="mensagem"> </textarea></p>
				</fieldset>
				<p><button type="submit">ENVIAR</button></p>
				</form>
			</div>
		</div>
		
		<!-- Google Analytics
		================================================== -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26439740-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>


	<!-- Home
	================================================== 
	<div>
		
		<p>Home</p>
		
		<p><a href="/painel_de_controle/">Painel de Controle</a></p>
		
		<p><a href="/contato/">Contato</a></p>
		
		<p><a href="/briefing/">Briefing</a></p>
		
	</div>	
	
	Fecha container
	================================================== -->