{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

		<div class="bg bg-call bg-call-home">
			<section class="container">
				<div class="row">
					<div class="grid-two-thirds">
						<h2 class="text-big">Simplicidade que transforma</h2>

						<p>Seja uma ideia inovadora ou uma solução corporativa nós projetamos e desenvolvemos o seu software aliando tecnologia, agilidade e competência. Nosso objetivo é transformar o seu negócio através de uma solução simples, objetiva e eficiente.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="bg">
			<section class="container">
				<div class="row">
					<div class="grid-third">
						<img class="" alt="Ilustração computador e a web" src="{{ MEDIA_URL }}img/ilustracoes/inicial-web.svg">
						<h3>Desenvolvimento Web</h3>
						<p>Não fique para trás! Seu negócio pode ser mais ágil, eficiente e menos oneroso. Um sistema Web pode provocar uma verdadeira revolução na sua empresa, e nós da Shift it estamos dispostos a auxiliá-lo nesta tarefa.</p>
					</div>

					<div class="grid-third">
						<img class="" alt="Ilustração aparelho mobile" src="{{ MEDIA_URL }}img/ilustracoes/inicial-mobile.svg">
						<h3>Desenvolvimento Mobile</h3>
						<p>O mundo é cada vez mais Mobile, ter a tecnologia ao seu alcance em qualquer lugar é algo que pode revolucionar o seu negócio. Nós desenvolvemos aplicações mobile centradas nas suas necessidades, não importando o dispositivo ou sistema operacional!</p>
					</div>

					<div class="grid-third">
						<img class="" alt="Ilustração sinal de diferença" src="{{ MEDIA_URL }}img/ilustracoes/inicial-diferenciais.svg">
						<h3>Diferenciais</h3>
						<p>Para nós, cada projeto é um novo desafio. Seja a construção de uma ideia inovadora ou automação de um processo existente, a nossa equipe está preparada para escutar as suas necessidades e transforma-las em um software surpreendente.</p>
					</div>
				</div>
			</section>
		</div>

		<div class="bg bg-ideia">
			<section class="container">
				<div class="row">	
					<div class="grid-2 offset-2">
						<h2 class="text-center">Fale com a gente!</h2>

						<p class="text-center">Ligue para +55 (48) 3206-6033 ou deixe o seu recado!</p>
						<form id="contato" method="post">{% csrf_token %}
                            <fieldset>
                                <label for="contatoNome">Nome<input id="contatoNome" name="nome" type="text"></label>
                                <label for="contatoEmail">Email<input id="contatoEmail" name="email" type="email" required></label>
                                <label for="contatoTel">Telefone<input id="contatoTel" name="telefone" type="text"></label>
                                <label for="contatoMsg">Mensagem<textarea id="contatoMsg" name="mensagem" rows="5"> </textarea></label>
                                <button class="btn btn-verde btn-large btn-block" type="submit">Enviar</button>
                            </fieldset>
                        </form>
					</div>
				</div>
			</section>
		</div>

{% endblock conteudo %}