{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}
        <div class="bg bg-call bg-call-contato">
            <section class="container">
                <div class="row">
                    <div class="grid-two-thirds">
                        <h2 class="text-big">Fale com a gente!</h2>

                        <p>Se você tem um problema fale com a gente! O nosso negócio é simplificar problemas e solucionar desafios através da mais alta tecnologia.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg">
            <section class="container">
                <div class="row">
                    <div class="grid-third vcard">
                        
                            <h2>Nossos contatos</h2>

                            <p>Além do prático formulário desta página estamos disponíveis através do telefone <div class="tel" style="display:inline;">(48) 3206-6033</div> e do email contato@shiftit.com.br</p>
                            
                            <img class="" alt="" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaotelefone.svg">
                    </div>

                    <div class="grid-two-thirds">
                        <h2>Envie sua mensagem já!</h2>
                        <form id="contato" method="post">{% csrf_token %}
                            <fieldset>
                                <label for="contatoNome">Nome<input id="contatoNome" name="nome" type="text"></label>
                                <label for="contatoEmail">Email<input id="contatoEmail" name="email" type="email" required></label>
                                <label for="contatoTel">Telefone<input id="contatoTel" name="telefone" type="text"></label>
                                <label for="contatoMsg">Mensagem<textarea id="contatoMsg" name="mensagem" rows="5"> </textarea></label>
                                <button class="btn btn-verde btn-large btn-block" type="submit">Enviar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
{% endblock conteudo %}