{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

	<!-- Contato
	================================================== -->
    <div class="cabecalho introducao" style="background:url('{{ MEDIA_URL }}img/bg_intro_contato.png'); background-size:cover;">
        <div class="centratexto">
            <p>Contato</p>
        </div>
    </div>
    <div class="conteudoprincipal">
    	
    	<form method="post" >{% csrf_token %}	
			
			<p>
				<label>Nome</label>
				{{form.nome}}
			</p>
			
			<p>
				<label>Email</label>
				{{form.email}}
			</p>
			
			<p>
				<label>Telefone</label>
				{{form.telefone}}
			</p>
			
			<p>
				<label>Mensagem</label>
				{{form.mensagem}}
			</p>
			
			<input id= "id_enviar_contato" type="submit" value='ENVIAR'/>
			
		</form>
		
    </div>
		
{% endblock conteudo %}