{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}
		<div class="bg bg-call bg-call-sobrenos">
			<section class="container">
				<div class="row">
					<div class="grid-two-thirds">
						<h2 class="">Olá! Nós Somos a Shift it!</h2>

						<p>Prezamos pela simplicidade em todos os momentos. Buscamos manter nossa equipe enxuta e equilibrada, contando com profissionais que podem desempenhar suas funções de forma integrada. Possuímos uma equipe multidisciplinar tendo em mente que mais que talentos individuais, formamos uma equipe eficiente.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="bg">
			<section class="container">
				<div class="row">
					<div class="grid-third">
						<img class="" alt="" style="padding-top:1em;" src="{{ MEDIA_URL }}img/ilustracoes/ilustracaoshiftbadge.svg">
					</div>

					<div class="grid-two-thirds">
						<h2>A equipe</h2>
						<div class="row">
							<div class="grid-2 text-center">
								<div class="bg bg-greenborder">
									<img class="" alt="Fotografia Alexandre" src="{{ MEDIA_URL }}img/fotografias/equipe-alexandre.png">
									<p>Alexandre Spengler<br>
									<span class="text-small">Desenvolvedor</span></p>
									<a href="http://www.linkedin.com/in/alexandrespengler" target="_blank"><img class="img-socialicon" alt="Ícone Linkedin" src="{{ MEDIA_URL }}img/icones/icone-linkedin.svg"></a>
								</div>
							</div>
							<div class="grid-2 text-center">
								<div class="bg bg-greenborder">
									<img class="" alt="Fotografia Diego" src="{{ MEDIA_URL }}img/fotografias/equipe-diego.png">
									<p>Diego Costa<br>
									<span class="text-small">Desenvolvedor</span></p>
									<a href="http://www.linkedin.com/in/diegosouzacosta" target="_blank"><img class="img-socialicon" alt="Ícone Linkedin" src="{{ MEDIA_URL }}img/icones/icone-linkedin.svg"></a>
								</div>
							</div>
							<div class="grid-2 text-center">
								<div class="bg bg-greenborder">
									<img class="" alt="Fotografia Glauco" src="{{ MEDIA_URL }}img/fotografias/equipe-glauco.png">
									<p>Glauco Cardoso<br>
									<span class="text-small">Designer</span></p>
									<a href="http://br.linkedin.com/pub/glauco-cardoso-de-oliveira/22/700/64" target="_blank"><img class="img-socialicon" alt="Ícone Linkedin" src="{{ MEDIA_URL }}img/icones/icone-linkedin.svg"></a>
								</div>
							</div>
						</div>
						<h2>Parceiros</h2>
						<div class="row">
							<div class="grid-img">
								<a href="http://www.catarinasdesign.com.br" target="_blank"><img src="{{MEDIA_URL}}img/icones/parceiros-catarinas.png"></a>
							</div>
				            <div class="grid-img">
				            	<a href="http://www.dataspace.com.br" target="_blank"><img src="{{MEDIA_URL}}img/icones/parceiros-dataspace.png"></a>
				            </div>
				            <div class="grid-img">
				            	<a href="https://www.facebook.com/FuseeIdeas" target="_blank"><img src="{{MEDIA_URL}}img/icones/parceiros-fusee.png"></a>
				            </div>
				            <div class="grid-img">
				            	<a href="http://www.upspace.com.br" target="_blank"><img src="{{MEDIA_URL}}img/icones/parceiros-upspace.png"></a>
				            </div>
				            <div class="grid-img">
				            	<a href="http://www.viconsultoria.com.br" target="_blank"><img src="{{MEDIA_URL}}img/icones/parceiros-valorinovacao.png"></a>
				            </div>
						</div>
					</div>
				</div>
			</section>
		</div>
{% endblock conteudo %}