/* =============================================================

	Backgrounds v2.0
	Simple section dividers by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */

.bg {
	background-color: lighten( $color-gray-light, 7% );
	padding-top: calc-em(24px);
	padding-bottom: calc-em(24px);
}

.bg-secondary {
	color: $color-white;
	background-color: $color-primary;
}

.bg-condensed {
	padding-top: calc-em(15px);
	padding-bottom: calc-em(15px);
}

.header {
	@extend .bg-condensed;
	background-color: #fff;
}

.landing-picture {
	width: 100%;
	height: calc-em(200px);
	background: url('../img/ilustracoes/landing1.png') center;
	background-size: cover;
}

.vantagens, .planos, .contato, {
	@extend .bg-condensed;
}

.contato-phone, .contato-email {
	background-color: #271C3A;
	padding: 1.5625em 1em;
	color: $color-white;
	img {
		float: left;
		max-width: calc-em(100px);
	}
}

.contato-form {
	background-color: $color-primary;
	color: $color-white;
	input, textarea {
		border-color: darken($color-primary, 10%);
	}
	button {
		background-color: #271C3A;
		&:hover {
			background-color: lighten(#271C3A, 5%);
		}
	}
	h3 {
		font-weight: bold;
	}
}