{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}
        <div class="bg bg-call bg-call-projetosrealizados">
            <section class="container">
                <div class="row">
                    <div class="grid-two-thirds">
                        <h2 class="">Projetos que já realizamos!</h2>

                        <p>Ideias próprias ou de clientes que já tiramos do papel e trouxemos para a realidade. Tem alguma ideia que poderia entrar na lista abaixo? <a href="/contato/">Entre em contato agora mesmo!</a></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="bg">
            <section class="container">
                <div class="row">
                    <div class="grid-third">
                        <h2>Berbigon</h2>

                        <p>O <a href="http://www.berbigon.com.br" target="_blank">BerbigOn</a> é um site que pretende disponibilizar uma maneira prática para compra de alimentos via delivery, onde tudo é feito on-line, desde a escolha do prato até o pagamento.</p>
                    </div>

                    <div class="grid-two-thirds">
                        <div class="bg bg-greenborder">
                            <img class="" src="{{MEDIA_URL}}img/screenshots/screenshot-berbigon-1.png">
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="grid-third">
                        <h2>FreelaTI</h2>

                        <p>O <a href="http://www.freelati.com" target="_blank">FreelaTI.com</a> é um serviço que busca, de uma maneira fácil e segura, fazer uma ponte entre profissionais de tecnologia e empresas que necessitem de serviços nesta área.</p>
                    </div>

                    <div class="grid-two-thirds">
                        <div class="bg bg-greenborder">
                            <img class="" src="{{MEDIA_URL}}img/screenshots/screenshot-freelati-1.png">
                        </div>  
                    </div>
                </div>
                
                <div class="row">
                    <div class="grid-third">
                        <h2>DClima</h2>

                        <p>Descrição do DClima</p>
                    </div>

                    <div class="grid-two-thirds">
                        <div class="bg bg-greenborder">
                            <img class="" src="{{MEDIA_URL}}img/screenshots/screenshot-dclima-1.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid-third">
                        <h2>Dudexp</h2>

                        <p>O <a href="http://www.dudexp.com" target="_blank">:Dudexp</a> é uma plataforma que oferece atividades autênticas, tours alternativos e experiências únicas nas principais cidades do Brasil.</p>
                    </div>

                    <div class="grid-two-thirds">
                        <div class="bg bg-greenborder">
                            <img class="" src="{{MEDIA_URL}}img/screenshots/screenshot-dudexp-1.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid-third">
                        <h2>Trackdoc</h2>

                        <p>O <a href="http://www.track-doc.com.br" target="_blank">Track-Doc</a> é uma plataforma de Gerenciamento Eletrônico de Documentos (GED) com o objetivo de facilitar a organização, armazenamento, compartilhamento e recuperação de documentos</p>
                    </div>

                    <div class="grid-two-thirds">
                        <div class="bg bg-greenborder">
                            <img class="" src="{{MEDIA_URL}}img/screenshots/screenshot-trackdoc-1.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock conteudo %}