{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

    <div class="cabecalho introducao" style="background:url('{{ MEDIA_URL }}img/bg_intro_comofazemos.png'); background-size:cover;">
        <div class="centratexto">
            <p>Utilizamos primordialmente tecnologias <em>open source</em><br> e <em>metodologias ágeis</em> a fim de alcançar uma entrega rápida e personalizada.</p>
        </div>
    </div>
    <div class="conteudoprincipal">
    	<p>teste</p>
    	<br><br><br><br><br><br>
    </div>

{% endblock conteudo %}