{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

    <div class="cabecalho introducao" style="background:url('{{MEDIA_URL}}img/bg_intro_oquefazemos.png'); background-size:cover;">
        <div class="centratexto">
            <p>Somos uma Software House, criamos <em>softwares</em> incriveis e ajudamos<br> os nossos clientes a terem <em>sucesso</em> nos seus negócios</p>
        </div>
    </div>

    <div class="conteudoprincipal">
        <div style="width:960px;margin: 0 auto;clear:both;">
        	<p>
        		Acreditamos em algumas ideias nossas ou mesmo a de parceiros, essas ideias, nas nossas mãos, viram produtos reais! 
        		A maioria desses produtos são criados em um modelo de startup, como FreelaTI.com e BerbigOn. 
        		Mas também temos alguns serviços, como o Startuplay. 
        		De toda forma, nossos produtos são reflexos da nossa identidade, prezamos pela simplicidade e pela eficiência. 
        		Acima de tudo, baseado em metodologias como a Lean Startup, fazemos uma serie de testes e validações afim de conseguir validar e criar a melhor solução para o mercado. 
        	</p>
        	<p>	
        		Nossa equipe tem uma vasta experiência na criação de aplicativos Web e na criação de negócios virtuais. 
        		Dessa forma oferecemos aos nossos clientes a possibilidade de ter as suas ideias postas em prática por uma equipe competente, comprometida, experiente e, pelo seu DNA startupeiro, com totais condições de auxliar não só na parte técnica do projeto, mas também na validação da ideia e na criação do modelo de negócio. 
        		Assim temos a certeza que, a quatro mãos, pdodemos entregar produtos espetaculares.
        	</p>
        	<p>
        		<strong>Cases</strong>
        	</p>
            <div class="div44">
                <figure><a class="imglink" href="http://www.dudexp.com" target="_blank"><img src="{{MEDIA_URL}}img/oque-dudexp.png"></a></figure>
            </div>

            <div class="div44 margin44">
                <h2>:Dudexp</h2>
                <p>O <a href="http://www.dudexp.com" target="_blank">:Dudexp</a> é uma plataforma que oferece atividades autênticas, tours alternativos e experiências únicas nas principais cidades do Brasil.</p>
            </div>

            <div class="div44" style="clear:left;">
                <h2>FreelaTI</h2>
                <p>O <a href="http://www.freelati.com" target="_blank">FreelaTI.com</a> é um site que busca, de uma maneira fácil e segura, fazer uma ponte entre profissionais de tecnologia e empresas que necessitem de serviços nesta área.</p>
            </div>

            <div class="div44 margin44">
                <figure><a class="imglink" href="http://www.freelati.com" target="_blank"><img src="{{MEDIA_URL}}img/oque-freelati.png"></a></figure>
            </div>

            <div class="div44" style="clear:left;">
                <figure><a class="imglink" href="http://www.berbigon.com.br" target="_blank"><img src="{{MEDIA_URL}}img/oque-berbigon.png"></a></figure>
            </div>

            <div class="div44 margin44">
                <h2>BerbigOn</h2>
                <p>O <a href="http://www.berbigon.com.br" target="_blank">BerbigOn</a> é um site que pretende disponibilizar uma maneira prática para compra de alimentos via delivery, onde tudo é feito on-line, desde a escolha do prato até o pagamento.</p>
            </div>

            <div class="div44" style="clear:left;">
                <h2>Startuplay</h2>
                <p>O <a href="http://www.startuplay.com.br" target="_blank">Startuplay</a> é uma parceria entre Shift it e Valor da Inovação para oferecer em pacotes fechados a criação de sua ideia de forma inicial com a construção de uma landing page ou de um MVP, além do customer development.</p>
            </div>

            <div class="div44 margin44">
                <figure><a class="imglink" href="http://www.startuplay.com.br" target="_blank"><img src="{{MEDIA_URL}}img/oque-startuplay.png"></a></figure>
            </div>

            <div class="div44" style="clear:left;">
                <figure><a class="imglink" href="http://www.track-doc.com.br" target="_blank"><img src="{{MEDIA_URL}}img/oque-trackdoc.png"></a></figure>
            </div>

            <div class="div44 margin44">
                <h2>Track-doc</h2>
                <p>O <a href="http://www.track-doc.com.br" target="_blank">Track-Doc</a> é uma plataforma de Gerenciamento Eletrônico de Documentos (GED) com o objetido de facilmente organizar, controlar, armazenar, compartilhar e recuperar documentos.  </p>
            </div>
        </div>
    </div>
{% endblock conteudo %}