{% extends "base_landing.html"%}
{% load i18n %}
{% block conteudo %}
<section class="header">
  <div class="container">
    <nav class="nav-wrap">
      <a class="logo" href="/"><img class="" alt="Shift it - Logo da empresa" src="{{MEDIA_URL}}img/branding/logo.svg"></a>
      <a class="nav-toggle" data-nav-toggle="#nav-menu" href="#">Menu</a>
      <div class="nav-collapse" id="nav-menu">
          <ul class="nav">
              <li><a href="#planos" class="btn-call scroll">Contrate agora mesmo sua Equipe de TI!</a></li>
          </ul>
      </div>
    </nav>
  </div>  
</section>

<section class="welcome">
  <div class="container">
    <div class="row">
      <div class="grid-two-thirds float-center">
        <h1 class="h2">Desenvolvemos produtos e sistemas web & damos suporte à decisões tecnológicas de sua empresa!</h1>
        <p>A Shift it possui o know-how e as competências necessárias para desenvolver o seu produto web de ponta a ponta além de dar o suporte necessário para a tomada de decisões tecnológicas da sua empresa! Contrate nossos serviços e conte com um parceiro para acompanhar seus sistemas.</p>
      </div>
    </div>
  </div>
</section>

<section class="landing-picture">

</section>

<section class="servicos">
  <div class="container">
    <div class="row">
      <div class="grid-two-thirds float-center">
        <h2 class="no-space-bottom">Serviços que realizamos</h2>
        <h3>Manutenção e evolução de sistemas Web</h3>
        <p>Nossa equipe irá dar ao seu sistema o <strong>tratamento profissional que ele necessita</strong>. Realizaremos <strong>todas as rotinas de manuntenção necessárias e ainda evoluímos a sua plataforma</strong>. Podemos operar com nossa equipe interna ou gerenciar uma equipe de terceiros - objetivamos o melhor processo de desenvolvimento.</p>

        <h3>Design de interação</h3>
        <p>A experiência do usuário é um <strong>fator crucial no sucesso de produtos digitais</strong>. Nossas horas podem ser dedicadas a processos de criação e implementação de interfaces fantásticas que irão fazer com que seus clientes <strong>amem o seu produto</strong>.</p>

        <h3>CTO Virtual</h3>
        <p>Se a sua empresa é de base tecnológica <strong>é essencial ter um CTO na sua equipe</strong>. Nossa equipe tem a competência e o conhecimento necessários para lhe auxiliar com a <strong>tomada de decisões estratégicas</strong> em relação a tecnologias da informação e negócios.</p>

        <p class="text-center"><a href="#faleconosco" class="btn-call-small scroll">Profissionalize seus processos de sistemas de informação agora mesmo! <br> <strong class="text-small">Entre em contato com a gente!</strong></a></p>
      </div>
    </div>
  </div>
</section>

<section id="planos" class="planos">
  <div class="container">
    <div class="row">
      <div class="grid-full">
        <h2 class="text-center">Preços, pacotes e vantagens!</h2>
      </div>
    </div>
    <div class="row">
      <div class="grid-fourth">
        <ul class="price-table">
          <li>Pacote 1</li>
          <li>
            <div class="circle-text">
              <div>20h</div>
            </div>
          </li>
          <li>Ideal para consultorias em tecnologia e correções de pequenos bugs em sistemas implementados.</li>
          <li>R$ 1.300,00 mês</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table recomendamos">
          <li>Pacote 2</li>
          <li>
            <div class="circle-text recomedamos">
              <div>40h</div>
            </div>
          </li>
          <li>Consultorias, correção de bugs e manutenção de uma aplicação robusta bem estruturada.</li>
          <li>R$ 2.400,00 mês</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table">
          <li>Pacote 3</li>
          <li>
            <div class="circle-text">
              <div>60h</div>
            </div>
          </li>
          <li>Consultorias, manutenção e implementação de funcionalidades em aplicações estruturadas.</li>
          <li>R$ 3.300,00 mês</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table">
          <li>Pacote 4</li>
          <li>
            <div class="circle-text">
              <div>80h</div>
            </div>
          </li>
          <li>Acompanhamento total do produto, pivotagem, implementação de funcionalidades complexas.</li>
          <li>R$ 4.400,00 mês</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="grid-full">
        <p class="text-center">
          <a href="#faleconosco" class="btn-call scroll">Contrate agora mesmo o pacote perfeito para sua empresa!</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="vantagens" class="vantagens">
  <div class="container">
    <div class="row">
      <div class="grid-two-thirds float-center">
        <h2 class="no-space">Vantagens de trabalhar neste modelo</h2>
        <h3>Redução de custos e flexibilidade</h3>
        <p>Funcionários dedicados implicam em um grande investimento financeiro. Contrate agora nossos serviços e <strong>tenha a disposição uma equipe multidisciplinar e experiente</strong> que pode ser acionada sob demanda de acordo com as necessidades do seu negócio.</p>
        
        <h3>Aumento da eficiência e qualidade</h3>
        <p>Assumindo que seu negócio não é tecnologia você dificilmente tem competência para fazer contratações e gerenciar uma equipe de desenvolvimento de produto. Nós temos a <strong>capacidade de gestão e execução de serviços de TI</strong> a custos tão baixos quanto R$1300,00/mês.</p>
    
        <h3>Apoio à tomada de decisão</h3>
        <p>Nós sabemos que as soluções tecnológicas disponíveis para seus problemas de negócio são inúmeras. Uma escolha mal fundamentada muitas vezes implica em perda de tempo e dinheiro. Nós <strong>iremos lhe auxiliar a tomar as melhores decisões relacionadas à tecnologia da informação</strong> em sua empresa.</p>
      </div>
    </div>
  </div>
</section>

<div id="faleconosco" class="contato">
  <div class="bg-roxo">
    <div class="container">
      <div class="row">
        <div class="grid-half contato-phone border-right">
          <img src="{{ MEDIA_URL }}landing/img/ilustracoes/phone.svg" alt="Ilustracão telefone">
          <p class=" text-tall no-space">Ligue para <strong class="text-green">(48) 3206 6033</strong><br>de segunda a sexta entre 09h e 19h.</p>
        </div>
        <div class="grid-half contato-email">
          <img src="{{ MEDIA_URL }}landing/img/ilustracoes/email.svg" alt="Ilustracão email">
          <p class=" text-tall no-space">Envie um email para <a href="mailto:contato@shiftit.com.br"><strong>contato@shiftit.com.br</strong></a>.<br>Entraremos em contato com você!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-verde">
    <div class="container">
      <div class="row contato-form">
        <div class="grid-half float-center">
          <h3 class="text-center">{% trans "Envie sua mensagem agora mesmo!" %}</h3>
          <form id="contato" method="post">{% csrf_token %}
              <fieldset>
                  <label for="contatoNome">{% trans "Nome" %}<input id="contatoNome" name="nome" type="text"></label>
                  <label for="contatoEmail">{% trans "Email" %}<input id="contatoEmail" name="email" type="email" required></label>
                  <label for="contatoTel">{% trans "Telefone" %}<input id="contatoTel" name="telefone" type="text"></label>
                  <label for="contatoMsg">{% trans "Mensagem" %}<textarea id="contatoMsg" name="mensagem" rows="5"> </textarea></label>
                  <button class="btn btn-green btn-large btn-block" type="submit">{% trans "Enviar" %}</button>
              </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="rodape">
  <div class="container">
    <div class="row">
      <div class="grid-full">
        <p class="text-center">
          <a href="http://www.shiftit.com.br"><img alt="Shift it - Logo da empresa" src="{{MEDIA_URL}}img/branding/logo.svg"></a>
          <br>{% trans "Shift it © 2014 Todos os direitos reservados" %}
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- JS Landing Serviços -->
<script src="{{ MEDIA_URL }}js/smooth-scroll.js"></script>
<script src="{{ MEDIA_URL }}js/mascaras.js"></script>
<script src="{{ MEDIA_URL }}js/alphanumeric.js"></script>
<script src="{{ MEDIA_URL }}js/funcoes.js"></script>
{% endblock conteudo %}