{% extends "base_landing.html"%}
{% load i18n %}
{% block conteudo %}
<section class="header">
  <div class="container">
    <nav class="nav-wrap">
      <a class="logo" href="/"><img class="" alt="Shift it - Logo da empresa" src="{{MEDIA_URL}}img/branding/logo.svg"></a>
      <a class="nav-toggle" data-nav-toggle="#nav-menu" href="#">Menu</a>
      <div class="nav-collapse" id="nav-menu">
          <ul class="nav">
              <li><a href="#" class="btn-call">Estamos disponíveis para projetos!</a></li>
          </ul>
      </div>
    </nav>
  </div>  
</section>

<section class="welcome">
  <div class="container">
    <div class="row">
      <div class="grid-two-thirds float-center">
        <h2 class="text-center">Profissionalize a TI na sua startup com a Shift it!</h2>
        <p>Nós podemos profissionalizar a TI da sua startup trabalhando como um CTO Virtual e executando serviços de Desenvolvimento e Design!</p>
        
      </div>
    </div>
  </div>
</section>

<section class="landing-picture">
  Plceholder
</section>

<section class="vantagens">
  <div class="container">
    <div class="row">
      <div class="grid-two-thirds float-center">
        <h3>Redução de Custos</h3>
        <p>Tenha a sua disposição uma equipe multidisciplinar e experiente a um baixo custo, sem a necessidade de fazer um alto investimento na contratação de profissionais e pagamentos de impostos e 13º.</p>
        
        <h3>Aumento da eficiência e qualidade</h3>
        <p>Nós fazemos mais por menos! Conte com a experiência da nossa equipe para ter resultados de maior qualidade e sem desperdícios de recursos, tanto de tempo quanto financeiro.</p>

        <h3>Flexibilidade</h3>
        <p>Pague apenas pelo que você realmente precisa. Você pode utilizar os nossos serviços de acordo com a sua demanda, podemos focar os exforços em um mês em Design e no outro em Desenvolvimento e Consultoria, ou como for melhor para a sua Startup!</p>

        <h3>Apoio na tomada de decisões</h3>
        <p>Está na dúvida de qual linguagem escolher para o seu sistema? Ou qual servidor utilizar? Precisa de um auxilio para contratar um serviço de tecnologia? Nós podemos lhe ajudar a identificar a opção que melhor atende as suas necessidades!</p>
      </div>
    </div>
  </div>
</section>

<section class="planos">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="grid-full">
          <h2 class="text-center">Escolha um pacote de horas!</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-fourth">
        <ul class="price-table">
          <li>20h</li>
          <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
          <li>R$1000.00</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table">
          <li>40h</li>
          <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
          <li>R$1000.00</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table">
          <li>60h</li>
          <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
          <li>R$1000.00</li>
        </ul>
      </div>
      <div class="grid-fourth">
        <ul class="price-table">
          <li>80h</li>
          <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
          <li>R$1000.00</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock conteudo %}