{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

	<!-- Briefing
	================================================== -->
	<div >
		
		{% for field in form %}
            {{ field.errors }}
        {% endfor %}
		
		{% for message in messages %}
			<p><strong>{{ message }}</strong></p>
		{% endfor %}
		
		<form method="post" >{% csrf_token %}
			<p>
				<label>Nome</label>
				{{form.nome}}
			</p>
			
			<p>
				<label>Email</label>
				{{form.email}}
			</p>
			
			<p>
				<label>Telefone</label>
				{{form.telefone}}
			</p>
			
			{% for pergunta in iListaPerguntas %}
			
				<p>
					<label>{{pergunta.pergunta}}</label>
					<textarea id="id_perguntas" rows="10" cols="40" name="resposta_{{pergunta.id_pergunta_contato}}"></textarea>
				</p>
			
			{% endfor %}
			
			<input id= "id_enviar_contato" type="submit" value='ENVIAR'/>
		</form>
		
	<!-- Fecha container
	================================================== -->
	</div>

{% endblock conteudo %}