<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Opa!</title>
		<meta name="description" content="Ooops! Isto parece ser um erro.">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{MEDIA_URL}}css/shiftit.css" type="text/css">
		<style>
		body.error {
			background-image: url({{ MEDIA_URL }}img/ilustracoes/bernunca404.svg);
			background-position: right top;
			background-repeat: no-repeat;
		}
		</style>
		<!-- HTML5 Shim para IE 6-8 -->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="error">
		<div class="bg bg-404">
			<section class="container">
				<div class="row">
					<div class="grid-two-thirds">
						<h2 class="text-big"><strong>Ooops!</strong><br>
							Esta página não existe.</h2>
						<p>Volte para a <a href="http://www.shiftit.com.br">nossa página inicial</a>. Caso você acredite que deveria existir alguma coisa aqui entre em contato com a gente através do email: <a href="#">contato@shiftit.com.br</a>.</p>
						<p class="text-small"><strong>Erro 404</strong> • A página que você está procurando não existe.</p>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>