<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <!-- Força o navegador a abrir em sua última versão (IE) ou utilizando o Chrome Frame caso disponível -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Título da página, descrição e palavras chave -->
        <title>Shift it - Desenvolvimento web</title>
        <meta name="description" content="A Shift it é uma empresa de desenvolvimento de softwares para a internet. Utilizamos HTML5, Python e Django para criar aplicações completas que vivem na nuvem.">
        <meta name="keywords" content="Desenvolvimento web, cloud, SaaS, django, python, html5, webdev">

        <!-- Mobile Screen Resizing -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/ico" href="{{ MEDIA_URL }}img/icones/favicon16.png">

        <!-- Folhas de estilo -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/shiftit.css" type="text/css">

        <!- Chamada para o Slider ->
        <script>
        if ( 'querySelector' in document && 'addEventListener' in window ) {
            document.documentElement.className += 'js';
        }
        </script>
        <!-- HTML5 Shim para IE 6-8 -->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>
    <!-- ClickTale Top part
    <script type="text/javascript">
    var WRInitTime=(new Date()).getTime();
    </script>
    ClickTale end of Top part -->

        <!--[if lt IE 8]>
            <section class="container">
                Seu navegador não é atualizado a algum tempo, certo? *Escrever mensagem amigável sugerindo a atualização do navegador.*
            </section>
        <![endif]-->

        <div class="bg bg-navegacao">
            <section class="container">
                <div class="row">
                    <div class="grid-6">
                        <nav class="nav-wrap">
                        <a class="logo" href="index.html"><img src="{{MEDIA_URL}}img/branding/shiftitlogo.svg"></a>
                            <ul class="nav">
                                <li><a href="/o_que_fazemos/"><span>Nosso trabalho</span><br><span class="text-small nav-legenda">Projetos realizados</span></a></li>
                                <li><a href="/como_fazemos/"><span>Como fazemos</span><br><span class="text-small nav-legenda">Tecnologias e processos</span></a></li>
                                <li><a href="/time/"><span>Sobre nós</span><br><span class="text-small nav-legenda">A empresa e a equipe</span></a></li>
                                <li><a href="/contato/"><span>Contato</span><br><span class="text-small nav-legenda">Fale conosco</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        </div>

        {% block conteudo %}
        {% endblock conteudo %}

        <div class="bg">
            <footer class="container">
                <div class="row">
                    <hr>
                    <div class="grid-3">
                        <p class="text-small">Shift it © 2013 Todos os direitos reservados
                    </div>
                    <div class="grid-3">
                        <p class="text-small links-footer"><a href="http://blog.shiftit.com.br">Blog</a> • <a href="https://www.facebook.com/ShiftIT.br">Facebook</a></p>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Javascript -->
        <script src='{{MEDIA_URL}}js/slider.js'></script>
        <script>
            if ( 'querySelector' in document && 'addEventListener' in window ) {

                // Slider Variable
                var slider = document.querySelector('.slider');

                // If a Slider exists
                if (slider) {

                    // Activate Slider
                    window.mySwipe = Swipe(slider, {
                        continuous: true,
                        speed: 400,
                        auto: 4000,
                        callback: function(index, elem) {
                            countSlides();
                        },
                    });


                    // Function to display slide count
                    var countSlides = function () {
                        // Variables
                        var slideTotal = mySwipe.getNumSlides();
                        var slideCurrent = mySwipe.getPos();
                        var slideCount = document.querySelector('.slide-count');
                        // Content
                        if (slideCount) {
                            slideCount.innerHTML = ' Slide ' + slideCurrent + ' de ' + slideTotal;
                        }
                    }
                    // Run slide count function on load
                    countSlides();


                    // Create Previous & Next Buttons
                    var slideNav = document.querySelector('.slide-nav')
                    if (slideNav) {
                        slideNav.innerHTML = '<a class="slide-nav-prev" href="#">Anterior</a> | <a class="slide-nav-next" href="#">Próximo</a>';
                    }

                    // Toggle Previous & Next Buttons
                    var btnNext = document.querySelector('.slide-nav-next');
                    var btnPrev = document.querySelector('.slide-nav-prev');
                    if (btnNext) {
                        btnNext.addEventListener('click', function(e) { e.preventDefault(); mySwipe.next(); }, false);
                    }
                    if (btnPrev) {
                        btnPrev.addEventListener('click', function(e) { e.preventDefault(); mySwipe.prev(); }, false);
                    }


                    // Toggle Left & Right Keypress
                    window.addEventListener('keydown', function (e) {
                        if (e.keyCode == 37) {
                            mySwipe.prev();
                        }
                        if (e.keyCode == 39) {
                            mySwipe.next();
                        }
                    }, false);

                }

            }
        </script>

        <!-- ClickTale Bottom part -->
        <script type='text/javascript'>
        // The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
        // 
        //   function ClickTalePreRecordingHook() { /* place your customized code here */  }
        //
        // For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

        document.write(unescape("%3Cscript%20src='"+
        (document.location.protocol=='https:'?
        "https://clicktalecdn.sslcs.cdngc.net/www07/ptc/7f5ca614-5c58-4c66-bd6a-1813ecf51c83.js":
        "http://cdn.clicktale.net/www07/ptc/7f5ca614-5c58-4c66-bd6a-1813ecf51c83.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
        </script>
        <!-- ClickTale end of Bottom part -->

        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26439740-1']);
          _gaq.push(['_setDomainName', 'shiftit.com.br']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <!-- Google Analytics end -->

    </body>
</html>