<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shift it - Como fazemos</title>
        <meta name="description" content="Somos uma empresa de desenvolvimento para web que trabalha com metodologias ágeis e busca desenvolver soluções simples e escaláveis para produtos em fase inicial de desenvolvimento.">
        <meta name="viewport" content="width=device-width">
        
        <!-- CSS
		================================================== -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/normalize.css">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

		<!-- JS
		================================================== -->
		<script src="{{MEDIA_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
		
		<!-- FAVION
		================================================== -->
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/icones/favicon.ico">

  	</head>

  	<body>
		<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container">

            <div class="cabecalho menu">
                <nav id="menuprincipal">
                    <ul>
                        <li><a href='/o_que_fazemos/'>O que fazemos</a></li>
                        <li><a href='/como_fazemos/'>Como fazemos</a></li>
                        <li><a href='/time/'>Conheça o time</a></li>
                        <li><a href='/contato/'>Contato</a></li>
                        <!-- <li><a href='http://blog.shiftit.com.br' target="_blank">Blog</a></li> -->
                    </ul>
                </nav>
                <a href='/'><img id="logomenu" src="{{MEDIA_URL}}img/shiftitmarcamenu.png"></a>
            </div>
			
		    {% block conteudo %}
		    {% endblock conteudo %}
		    
			<div class="rodape">
                <div class ="facebookrodape">
                    <img src="{{MEDIA_URL}}img/facebookshift.png">
                    <p><a href="https://www.facebook.com/ShiftIT.br" target="_blank">Curta nossa página no facebook!</a></p>
                </div>
                <div class="marcarodape">
                    <img src="{{MEDIA_URL}}img/shiftitmarcarodape.png">
                    <p>Todos os direitos reservados © 2013</p>
                </div>
            </div>
		
		</div>
		
		<!-- Google Analytics
		==================================================-->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-26439740-1']);
		  _gaq.push(['_setDomainName', 'shiftit.com.br']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  </body>
</html>