<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt"> <!--<![endif]-->
<head>

  	<!-- Meta
	================================================== -->
  	{% block meta %}
    <meta charset="utf-8">
    <title>Startuplay</title>
	<meta name="description" content="Startuplay é um ...">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% endblock meta %}
	
	<!-- CSS
	================================================== -->
    {% block style %}
    {% endblock style %}
    
  	<!-- Favicons
	================================================== -->

  </head>

  <body>
		
		<p>Menu</p>
			
	    {% block conteudo %}
	    {% endblock conteudo %}
	    
	    {% include "rodape.html" %}
  </body>
</html>