/* =============================================================
	Anestex Stylesheet

	Based on
	Kraken v3.5
	A lightweight front-end boilerplate by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

	# Typographic Scale
	(For math purposes. Actual font sizes in ems.)
	1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
	line height: 1.5em on small screens, 1.5625em on big screens

 * ============================================================= */
/* =============================================================
	CSS RESET
	Meyer's CSS Reset, Normalized.css, and custom code.
 * ============================================================= */
/* Mobile Screen Resizing */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0; }

@-moz-viewport {
  width: device-width;
  zoom: 1.0; }

@-ms-viewport {
  width: device-width;
  zoom: 1.0; }

@-o-viewport {
  width: device-width;
  zoom: 1.0; }

@viewport {
  width: device-width;
  zoom: 1.0; }

/* Remove browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
button, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "pragmatica-web", sans-serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Add box sizing to everything
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*  Set display type for HTML5 semantic elements */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*  Force scrollbar display to prevent jumping on pages.
 *  Fix text resize bug on mobile devices. */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  Display audio, canvas, and video elements as inline block elements. */
audio,
canvas,
video {
  display: inline-block; }

/*  Prevent modern browsers from displaying audio without controls. */
audio:not([controls]) {
  display: none;
  height: 0; }

/*  Prevent img and video elements from spilling
 *  outside of the page on smaller screens. */
img,
video {
  max-width: 100%;
  height: auto; }

/*  Prevent iframe, object, and embed elements from
 *  spilling outside of the page on smaller screens. */
iframe,
object,
embed {
  max-width: 100%; }

/* Address [hidden] styling not present in IE 8/9.
 * Hide the template element in IE, Safari, and Firefox < 22. */
[hidden],
template {
  display: none;
  visibility: hidden; }

/*  Prevents IE from making scaled images look like crap */
img {
  -ms-interpolation-mode: bicubic; }

/*  Address outline inconsistency between Chrome and other browsers. */
a:focus,
button:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.15625em; }

/*  Improve readability when focused and also mouse hovered in all browsers. */
a:hover,
a:active {
  outline: 0; }

/* =============================================================
	THE GRID
	Structure and layout.
 * ============================================================= */
/*  Mobile-first. Single-column layout by default
 *  Container sets the maximum page width. Adjust as needed. */
.container {
  max-width: 1100px;
  width: 88%;
  margin-left: auto;
  margin-right: auto; }

/*  Still mostly single-column.
 *  Option to activate grid on small screens.
 *  Two-column layout for .grid-img. */
@media (min-width: 20em) {
  .row {
    margin-left: -1.4%;
    margin-right: -1.4%; }

  .grid-fourth,
  .grid-third,
  .grid-half,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-full,
  .grid-img {
    float: left;
    width: 100%;
    padding-left: 1.4%;
    padding-right: 1.4%; }

  /*  Reverses order of grid for content choreography */
  .grid-flip {
    float: right; }

  /*  Optionally show grid for small screens */
  .row-start-xsmall .grid-fourth {
    width: 25%; }

  .row-start-xsmall .grid-third {
    width: 33.33333333333%; }

  .row-start-xsmall .grid-half,
  .grid-img {
    width: 50%; }

  .row-start-xsmall .grid-two-thirds {
    width: 66.666666666667%; }

  .row-start-xsmall .grid-three-fourths {
    width: 75%; } }
/*  Still mostly single-column.
 *  Option to activate grid on medium screens.
 *  Three-column layout for .grid-img. */
@media (min-width: 30em) {
  /*  Show grid for small screens */
  .row-start-small .grid-fourth {
    width: 25%; }

  .row-start-small .grid-third,
  .grid-img {
    width: 33.33333333333%; }

  .row-start-small .grid-half {
    width: 50%; }

  .row-start-small .grid-two-thirds {
    width: 66.666666666667%; }

  .row-start-small .grid-three-fourths {
    width: 75%; } }
/*  Full 6-column grid.
 *  Four-column layout for .grid-img. */
@media (min-width: 40em) {
  .grid-fourth,
  .grid-img {
    width: 25%; }

  .grid-third {
    width: 33.33333333333%; }

  .grid-half {
    width: 50%; }

  .grid-two-thirds {
    width: 66.666666666667%; }

  .grid-three-fourths {
    width: 75%; }

  /*  Offets let you shift grid elements to the right
   *  but stay aligned to the grid. */
  .offset-fourth {
    margin-left: 25%; }

  .offset-third {
    margin-left: 33.33333333333%; }

  .offset-half {
    margin-left: 50%; }

  .offset-two-thirds {
    margin-left: 66.666666666667%; }

  .offset-three-fourths {
    margin-left: 75%; } }
/* Add clearfix */
/* =============================================================
	TYPOGRAPHY
	Sets font styles for entire site.
 * ============================================================= */
body {
  font-family: "pragmatica-web", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #272727;
  background: white;
  -webkit-font-smoothing: antialiased; }

p {
  margin-bottom: 1.5625em; }

@media (min-width: 40em) {
  body {
    line-height: 1.5625; } }
/*  Sizes
 *  For smaller and larger text */
.text-small {
  font-size: 0.9375em; }

.text-tall {
  font-size: 1.1875em;
  line-height: 1.4; }
  .text-tall .text-green {
    color: #0088cc; }

@media (min-width: 40em) {
  .text-tall {
    font-size: 1.3125em; } }
/*  Colors
 *  For alternate text colors */
.text-muted {
  color: gray; }

/*  Links
 *  Hyperlink styling */
a {
  color: #272727;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #cccccc; }
  a:hover {
    border-bottom: 2px solid #00aaff; }

a img {
  border: none;
  background: none; }

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img {
  border: none;
  background: none;
  opacity: 0.8;
  filter: alpha(opacity=80); }

/*  Lists
 *  Styling for lists */
ul,
ol,
dl {
  margin-bottom: 1.5625em;
  margin-left: 2em; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

dl {
  margin-left: 0; }

dt {
  font-weight: bold; }

/*  Removes list styling.
 *  For semantic reasons, should only
 *  be used on unordered lists. */
.list-unstyled {
  margin-left: 0;
  list-style: none; }

/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "pragmatica-web", sans-serif;
  font-weight: bold;
  margin-bottom: .5em;
  padding-top: .5em;
  word-wrap: break-word; }

h1,
.h1 {
  font-size: 1; }

h2,
.h2 {
  font-size: 1.3125em; }

h3,
.h3 {
  font-size: 1.1875em; }

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 0.9375em;
  font-style: italic; }

h4,
.h4 {
  text-transform: uppercase; }

@media (min-width: 40em) {
  h1,
  .h1 {
    font-size: 1.75em; } }
/*  Lines, Quotes and Emphasis */
/*  Lines */
hr {
  margin: 2em auto;
  border: 0;
  border-top: 0.0725em solid #e5e5e5;
  border-bottom: 0 solid white; }

/*  Bold */
strong {
  font-weight: bold; }

/*  Italics */
em {
  font-style: italic; }

/*  Subscript & Superscript */
sub,
sup {
  position: relative;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
  margin-left: 0.25em; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*  Highlighting colors */
::selection {
  color: white;
  background: #0088cc; }

::-moz-selection {
  color: white;
  background: #0088cc; }

/*  Blockquotes */
blockquote {
  border-left: 0.25em solid #e5e5e5;
  margin-bottom: 1.5625em;
  padding-left: 1.5625em;
  padding-right: 1.5625em; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* Correct antialising @ buttons and submits */
.btn, .btn-call, .btn-call-small {
  -webkit-font-smoothing: antialiased; }

/* =============================================================
	CODE
	Styling for code and preformatted text.
 * ============================================================= */
/* @todo Add variables for code elements */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875em;
  border-radius: 0.0725em; }

code {
  color: #dd1144;
  background-color: #f7f7f7;
  padding: 0.25em; }

pre {
  display: block;
  margin-bottom: 1.5625em;
  line-height: 1.5;
  background-color: #f4f4f4;
  padding: 0.8125em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: break-all; }

pre code {
  font-size: 1em;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0; }

/* =============================================================
	BUTTONS
	Styling for CSS buttons.
 * ============================================================= */
.btn, .btn-call, .btn-call-small {
  display: inline-block;
  font-size: 0.9375em;
  padding: 0.5em 0.6875em;
  line-height: 1.2;
  font-weight: normal;
  background-color: #0088cc;
  border: 0.0725em solid #0088cc;
  border-radius: 0.0725em;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em; }

.btn, .btn-call, .btn-call-small,
.btn:hover,
.btn-call:hover,
.btn-call-small:hover,
a .btn:hover,
a .btn-call:hover,
a .btn-call-small:hover,
.btn.active,
.active.btn-call,
.active.btn-call-small {
  color: white; }

.btn:hover, .btn-call:hover, .btn-call-small:hover,
a .btn:hover,
a .btn-call:hover,
a .btn-call-small:hover,
.btn.active,
.active.btn-call,
.active.btn-call-small {
  background-color: #005580;
  border-color: #005580;
  text-decoration: none; }

.btn-secondary {
  background-color: gray;
  border-color: gray; }

.btn-secondary:hover,
a .btn-secondary:hover,
.btn-secondary.active {
  background-color: #5a5a5a;
  border-color: #5a5a5a; }

.btn:active, .btn-call:active, .btn-call-small:active,
.btn.active,
.active.btn-call,
.active.btn-call-small {
  box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 0.0725em 0.15625em rgba(0, 0, 0, 0.05);
  outline: 0; }

.btn.disabled, .disabled.btn-call, .disabled.btn-call-small,
.btn[disabled],
[disabled].btn-call,
[disabled].btn-call-small {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none; }

.btn-large, .btn-call {
  padding: 0.6875em 0.9375em;
  font-size: 1em;
  line-height: normal; }

.btn-call {
  color: #272727;
  background-color: #fff;
  border-radius: 2em;
  border: 0.125em solid #0088cc;
  transition: all 0.2s; }
  .btn-call:hover {
    color: white !important; }

.btn-call-small {
  color: #272727;
  background-color: #fff;
  border-radius: 2em;
  border: 0.125em solid #0088cc;
  transition: all 0.2s; }
  .btn-call-small:hover {
    color: white !important; }

.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0; }

button,
.btn,
.btn-call,
.btn-call-small {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /* Override default Webkit/Firefox button styling */
  background-image: none;
  -webkit-appearance: none; }

.btn:last-child, .btn-call:last-child, .btn-call-small:last-child,
input.btn,
input.btn-call,
input.btn-call-small {
  margin-right: 0; }

/* =============================================================
	FORMS
	Styling for form elements.
 * ============================================================= */
/* @todo Integrate form styling with _config options */
form,
fieldset {
  margin-bottom: 1.5625em; }

legend,
label {
  display: block;
  font-weight: 400;
  font-size: .8em;
  padding: 0;
  margin-bottom: 0.3125em; }

/* @todo Adjust form colors based on Sass variables */
input,
textarea,
select {
  display: block;
  width: 100%;
  font: inherit;
  font-weight: 400;
  padding: .2em;
  line-height: 1.5;
  color: #0088cc;
  margin-bottom: 1.1875em;
  border: 0.0725em solid #b8b8b8; }

form button,
form .button {
  margin-bottom: 1.1875em; }

textarea {
  height: 4em; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  margin-bottom: 0.3125em;
  cursor: pointer; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 0.0725em 0.0725em rgba(0, 0, 0, 0.075), 0 0 0.5em rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.125em; }

/*  Inline Inputs */
.input-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle; }

/*  Condensed Inputs */
.input-condensed {
  padding: 0.0725em 0.3125em;
  font-size: 0.9375em; }

@media (min-width: 40em) {
  input, textarea, select {
    line-height: 1.5625; } }
/* =============================================================
	ICONS
	A placeholder for icon fonts.
	Change font names and URLs as need.
	Learn more at http://gomakethings.com/icon-fonts/
 * ============================================================= */
/*	@font-face mixin */
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg"); }

/*	Assign icon font to icons */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/*	Define specific characters for each icon */
/*	`.font-face` class added by `feature-test.js` */
.font-face .icon-NAMESPACE:before {
  content: ""; }

/*	Text that displays when @font-face is unsupported.
 *	Also provides assistance for screen readers. */
.font-face .icon-fallback-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

/* =============================================================

	Slider v4.2
	A simple, responsive, touch-enabled image slider, forked from Swipe.

	Script by Brad Birdsall.
	http://swipejs.com/

	Forked by Chris Ferdinandi.
	http://gomakethings.com

	Code contributed by Ron Ilan.
	https://github.com/bradbirdsall/Swipe/pull/277#issuecomment-26032132

	Licensed under the MIT license.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  When HTML5 JS features supported, hide slider */
.js-slider .slider {
  position: relative;
  overflow: hidden;
  visibility: hidden;
  /* required for windows phone: */
  -ms-touch-action: none;
  touch-action: none; }

/*  When HTML5 JS features supported, hide slides */
.js-slider .slides {
  overflow: hidden;
  position: relative; }

/*  Add a margin-bottom to each slide */
.slides > div {
  margin-bottom: 0.3125em; }

/*  When HTML5 JS features supported, set width to 100%
 *  and float slides to the left. */
.js-slider .slides > div {
  width: 100%;
  float: left;
  position: relative; }

/*  Make slider images and videos fluid */
.slides img,
.slides video,
.slides iframe {
  max-width: 100%; }

.slides img,
.slides video {
  width: 100%;
  height: auto; }

/*  Remove floats */
.slider:before,
.slider:after {
  display: table;
  content: ""; }

/*  Remove floats */
.slider:after {
  clear: both; }

/* =============================================================
  Shift v4
  Estilos personalizados;
 * ============================================================= */
.shift--logo {
  max-width: 2em;
  text-align: left; }

.equipe--fotografias {
  padding: .2em;
  background-color: #e5e5e5;
  float: left; }
  .equipe--fotografias img {
    width: 50%;
    float: left; }

/* =============================================================

	Houdini v6.0
	A simple collapse and expand widget by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Hide the collapse and expand link or button by default */
.collapse-toggle {
  display: none;
  visibility: hidden; }

/*  If JavaScript is enabled, show the collapse and expand link or button */
.js-houdini .collapse-toggle {
  display: inline;
  visibility: visible;
  cursor: pointer; }

/*  When expanded, hide "show" text.
 *  When collapsed, hide "hide" text. */
.active .collapse-text-show,
.collapse-text-hide {
  display: none;
  visibility: hidden; }

/*  When expanded, show "hide" text. */
.active .collapse-text-hide {
  display: inline;
  visibility: visible; }

/* If JavaScript is enabled, hide the collapsed element */
.js-houdini .collapse {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /*  Add animation when content expands and collapses */
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -ms-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease; }

/*  When collapsed element has the .active class, show it
 *  Uses max-height instead of display: none to allow for
 *  CSS3 animations, which don't work on display values. */
.js-houdini .collapse.active {
  max-height: 9999em;
  opacity: 1; }

/* =============================================================

	Astro Navbar Plus v5.0
	Mobile-first navigation patterns by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Center all navigation elements */
.nav-wrap {
  text-align: center; }

/*  For text-based logo, override default link styling.
 *  If .logo and .nav don't align properly,
 *  adjust the .logo line-height. */
.logo {
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 0.5em;
  text-decoration: none; }

/*  For text-based logo, override default link hover styling */
.logo:hover {
  color: #272727;
  text-decoration: none; }

/*  Remove default list styling for navigation list */
.nav {
  list-style: none;
  margin: 0;
  padding: 0; }

/*  Display navigation items as inline-block elements.
 *  Add slight margin between each navigation item. */
.nav > li {
  display: inline-block;
  float: none;
  margin-left: 0.5em;
  margin-right: 0.5em; }

/*  Remove margin-left on first navigation item */
.nav > li:first-child {
  margin-left: 0; }

/*  Remove margin-right on last navigation item */
.nav > li:last-child {
  margin-right: 0; }

/*  Placeholder for active link styling */
/*  .nav > li.active > a { */
/*      Add your styles here */
/*  } */
/*  Hide the navigation toggle menu button by default.
 *  Only needed for expand-and-collapse option. */
.nav-toggle {
  display: none;
  visibility: hidden; }

/* Link styling */
.nav {
  font-size: 0.875em; }
  .nav a {
    color: #272727; }
    .nav a:hover {
      color: #0088cc;
      text-decoration: none; }

/*  Expand-and-Collapse styling for smaller screens.
 *  Remove if not using.
 *  Change max-width to fit your project. */
@media (max-width: 40em) {
  /*  .js-astro prefix ensure content is only hidden when JavaScript is supported.
   *  This requires on the included js-accessibility.js-astro script. */
  /*  Align text to the left when javascript is supported */
  .js-astro .nav-wrap {
    text-align: left; }

  /*  Float logo to the left when javascript is supported */
  .js-astro .logo {
    float: left; }

  /*  Display navigation toggle button if javascript is supported */
  .js-astro .nav-toggle {
    display: block;
    visibility: visible;
    float: right; }

  /*  Hide navigation items if javascript is supported */
  .js-astro .nav-collapse {
    max-height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*  CSS3 animation for when menu content expands */
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in; }

  /*  When collapsed element has the .active class, show it
   *  Uses max-height instead of display: none to allow for
   *  CSS3 animations, which don't work on display values. */
  .js-astro .nav-collapse.active {
    max-height: 999em; }

  .js-astro .nav {
    text-align: left; }

  /*  Display navigation items as full-width, stacked blocks when javascript supported */
  .js-astro .nav-collapse li {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em; } }
/*  Styling for Bigger Screens.
 *  (Astro is built mobile-first.)
 *  Change min-width to fit your project. */
@media (min-width: 40em) {
  /*  Align text to the left */
  .nav-wrap {
    text-align: left; }

  /*  Float logo to the left and remove margin-bottom */
  .logo {
    float: left; }

  /*  Align navigation elements to the right */
  .nav {
    text-align: right; } }
/*  Clearfix */
.nav-wrap:before, .nav-wrap:after {
  display: table;
  content: "";
  *zoom: 1; }

.nav-wrap:after {
  clear: both; }

/* =============================================================

	Backgrounds v2.0
	Simple section dividers by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
.bg {
  background-color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.bg-recrutase {
  color: white;
  background-color: #0088cc;
  position: relative; }
  .bg-recrutase a {
    text-decoration: none;
    color: white;
    display: inline-block;
    border-bottom: 2px solid #00aaff; }
    .bg-recrutase a:hover {
      border-bottom: 2px solid #33bbff; }

.bg-freelati {
  color: #272727;
  background-color: #e5e5e5;
  position: relative; }
  .bg-freelati a {
    text-decoration: none;
    color: #272727;
    display: inline-block;
    border-bottom: 2px solid #cccccc; }
    .bg-freelati a:hover {
      border-bottom: 2px solid #b2b2b2; }

.produtos img {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: rotate(2deg); }

.bg-secondary {
  color: white;
  background-color: #0088cc; }

.bg-condensed {
  padding-top: 0.9375em;
  padding-bottom: 0.9375em; }

/* =============================================================
	ALIGNMENT, SPACING & VISIBILITY
	Override default alignment, spacing and visibilty.
 * ============================================================= */
/*  Text alignment */
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/*  Floats */
.float-left {
  float: left; }

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.float-right {
  float: right; }

/*  Spacing */
.no-space {
  margin: 0;
  padding: 0; }

.no-space-bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.no-space-top {
  margin-top: 0;
  padding-top: 0; }

.space-bottom {
  margin-bottom: 2em; }

.space-bottom-small {
  margin-bottom: 0.5em;
  padding-bottom: 0; }

.space-top {
  padding-top: 0.8125em; }

/*  Screen Reader Text */
.screen-reader {
  position: absolute;
  top: -9999em;
  left: -9999em; }

/*  Clearfix */
.group:before, .container:before,
.row:before,
.group:after,
.container:after,
.row:after {
  display: table;
  content: ""; }

.group:after, .container:after,
.row:after {
  clear: both; }

/* =============================================================
	PRINT STYLES
	Styling for printed content. Adapted from HTML5BP.
	http://html5boilerplate.com
 * ============================================================= */
@media print {
  /*  Universal selector.
   *  Reset all content to transparent background,
   *  black color, and remove box and text shadows. */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /*  Specifies page margin */
  @page {
    margin: 0.5cm; }

  /*  Underline all links */
  a, a:visited {
    text-decoration: underline; }

  /*  Show URL after links */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /*  Don't show URL for internal links */
  a[href^="#"]:after {
    content: ""; }

  /*  Specifies the minimum number of lines to print at the top and bottom of a page. */
  p, h1, h2, h3 {
    orphans: 3;
    widows: 3; }

  /*  Avoid inserting a page break after headers */
  h1, h2, h3 {
    page-break-after: avoid; }

  /*  Change border color on blockquotes and preformatted text.
   *  Avoid page breaks inside the content */
  pre, blockquote {
    border-color: #999;
    page-break-inside: avoid; }

  /*  Displayed as a table header row group */
  thead {
    display: table-header-group; }

  /*  Avoid inserting a page break inside table rows and images */
  tr, img {
    page-break-inside: avoid; } }
