{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

	<!-- Login
	================================================== -->
	<div >
		
		<p>Login</p>
		
		<p><a href="/">Home</a></p>
		
		<form method="post" action="/login/">{% csrf_token %}			
			<label for="regularInput">Login</label>
			<input type="text" id="logindude" name="login"/>
			
			<label for="regularInput">Senha</label>
			<input type="password" id="senhadude" name="senha"/>

			<div style="float:right; bottom:0; width:100px;">
			<button type="submit" class="full-width">Entrar</button>
			</div>
		</form>
		
		{% for message in messages %}
		<p><strong>{{ message }}</strong></p>
		{% endfor %}
	<!-- Fecha container
	================================================== -->
	</div>

{% endblock conteudo %}